services:
  insuranceApp:
    image: node:23-alpine3.19
    platform: linux/amd64
    working_dir: /app
    volumes:
      - .:/app
    environment:
      - PORT=3001
    ports:
      - "3001:3001"
    command: sh -c "npm install && npm run start"
    networks:
      - faNetwork

networks:
  faNetwork:
    external: true
