services:
  bankApp:
    image: node:23-alpine3.19
    working_dir: /app
    volumes:
      - .:/app
    environment:
      - PORT=3000
    ports:
      - "3000:3000"
    command: sh -c "npm install && npm run start"
    networks:
      - faNetwork

networks:
  faNetwork:
    external: true
